
<div class="row" >
  <div class="span3 well well-small"
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <fieldset>
      <legend>Sign In</legend>
        <%= f.input :email %>
        <%= f.input :password %>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.input :remember_me, as: :boolean %></div>
        <% end -%>

        <div><%= f.button :submit, "Sign in" %></div>
    </fieldset>
    <% end %>
  </div>

  <div class="span8">
    <h4>Signing in is easy and secure.</h4>
  </div>
</div>

<div class="row">
  <div class="span4">
    <%= render "devise/shared/links" %>
  </div>
</div>